.gradientlistitem {
  background-color: white;
  height: 8ch;
  border-radius: 0.6ch;
  color: #4A61ED;
  font-weight: bold;
}

body {
  overflow: hidden;
  background: 'white';
}

.listitem {
  background-color: white;
  padding: 0!important;
  margin: 0!important;
  list-style-type: none!important;
}

.listItemText {
  padding-left: 2ch!important;
  border: none!important;
  outline: none!important;
}

.cell1 {
  width: 450px!important;
  font-size: 26px!important;
  border-bottom: none;
  outline: white!important;
  border: white!important;
}

.cell2 {
  width: 60px!important;
  font-size: 26px!important;
  text-align: right!important;
  outline: white!important;
  border: white!important;
}

.editicon {
  padding-top: 2px;
  padding-right: 25px;
}

.listItemAvatar {
  padding-left: 2ch;
}