.gradientlistitem {
  background-color: white;
  height:8ch;
  border-radius: 0.6ch;
  color: #4A61ED;
  font-weight: bold;
}

body {
  overflow: hidden;
  background: linear-gradient(135deg, rgba(29,95,192,1) 0%, rgba(28,90,198,1) 100%);
}